<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/create-quiz.css" />
    <link rel="stylesheet" href="/styles/home.css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
</head>

<body>
    <header>
        <%- include('./_header'); %>
    </header>

    <div class="body-container">

        <div class="box">
            <div class="title">
                <div class="questionBox">
                    Create a new quiz
                </div>
            </div>
            <div class="questionBox">
                <form id="quizForm" method="POST" action="/create-quiz">
                    <textarea id="question" placeholder="Your Question" name="question" rows="2" cols="27"
                        required></textarea>
                    <input type="text" id="option1" placeholder="Option 1" name="option1" required>
                    <input type="text" id="option2" name="option2" placeholder="Option 2" required>
                    <input type="text" id="option3" name="option3" placeholder="Option 3">
                    <input type="text" id="option4" name="option4" placeholder="Option 4">

                </form>
                <div id="questionCounter" class="questionCounter">Question: 0</div>
            </div>

            <!-- Footer -->
            <div class="footer">
                <button type="button" onclick="nextQuestion()" class="btn btn-primary">Next Question</button>
                <button type="submit" onclick="showSuccessMessage()" class="submitBtn">Submit</button>
                
                
                <form method="get" action="/">
                    <button class="cancelBtn" >Cancel</button>
                    </form>


            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

        
    <script>
        let questionCount = 0;

        function nextQuestion() {
            let questionInput = document.getElementById("question").value;
            let option1Input = document.getElementById("option1").value;
            let option2Input = document.getElementById("option2").value;
            let option3Input = document.getElementById("option3").value;
            let option4Input = document.getElementById("option4").value;

            if (questionInput === "" || option1Input === "" || option2Input === "") {
                
                document.getElementById("questionCounter").innerHTML = "Please fill in all required fields.";
                setTimeout(function () {
                    document.getElementById("questionCounter").innerHTML = "Question: " + questionCount;
                }, 3000);
                return;
            }

            document.getElementById("quizForm").reset();
            questionCount++;
            document.getElementById("questionCounter").innerHTML = "Question: " + questionCount;
        }

        function showSuccessMessage() {

            if (questionCount > 0) {
            let questionBox = document.querySelector(".questionBox");
            document.getElementById("questionCounter").innerHTML = "Your quiz has been created.";

            setTimeout(function () {
                window.location.href = "/myquizes";
            }, 3000); // 3000 milliseconds = 3 seconds
        } else 
        {
            document.getElementById("questionCounter").innerHTML = "Please add one or more questions to submit quiz.";
        }
    }

    $(document).ready(function() {
  // Handle form submission
  $('#quiz-form').submit(function(event) {
    event.preventDefault(); // Prevent default form submission

    // Extract form data
    const id = $('#question-id').val();
    const question = $('#question').val();
    const option1 = $('#option1').val();
    const option2 = $('#option2').val();
    const option3 = $('#option3').val();
    const option4 = $('#option4').val();
    const answer = $('#answer').val();

    // Create data object to send to the server
    const data = {
      id: id,
      question: question,
      options: [option1, option2, option3, option4],
      answer: answer
    };

    // Send data to the server using AJAX
    $.ajax({
      url: '/createQuiz',
      method: 'POST',
      data: data,
      success: function(response) {
        // Handle success response from the server
        console.log(response);
      },
      error: function(error) {
        // Handle error response from the server
        console.error(error);
      }
    });
  });
});



    </script>
</body>

</html>