.quizContainer {
  height: 40px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: none;
  margin-top: 100px;
}

.quizTitle {

  color: rgba(33, 32, 32, 0.774);
}

.quizDescrition {
  font-family: 'Source Sans Pro', sans-serif;
  /* font-weight: 500; */
  font-size: 18px;
}

.createdBy {
  display: flex;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: 15px;
  color: #5d5d5fd4;
}

.takeQuiz {
  background-color: #32437bd4;
  font-size: 15px;
  font-weight: 500;
  color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}





